.logo {
  width: 90%;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  font-size: 1.3em;
  font-weight: 700;
  width: 200px;
  height: 50px;
  padding: 8px;
  color: white;
  background-color: black;
  /* background-color: #767783; */
  display: inline-block;
  border-radius: 10px;
  text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: b;
}

.inputfile + label {
  cursor: pointer; /* "hand" cursor */
}

.forge-button {
  width: 300px;
  cursor: pointer;
}

.upload-button {
  width: 300px;
  cursor: pointer;
}
